@import "tailwindcss";

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.under-modal-grabable:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 100px;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
  background-color: #999;
}